.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  margin: 0 0 0 0;
  align-self: end;
  align-self: start;
}

@media screen and (max-width: 769px) {
  .place__title {
    font-weight: 900;
    font-size: 42px;
    line-height: 1.1;
    margin-right: 10px;
    
  }
}

@media screen and (max-width: 321px) {
  .place__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 1.89px;
    margin: 16px;
    margin: 0;
  }
}
