.places {
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin: 0 auto 0 auto;
  
}

@media screen and (max-width: 1025px) {
  .places {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 769px) {
  .places {
    max-width: calc(100% - 48px);

  }
}

@media screen and (max-width: 720px) {
  .places{
max-width: 100%;
  }
}
