.place__image{
  margin: 0;
  padding: 0;
  width: 100%;
  object-fit: cover;
  grid-column: 1/2;
  grid-row: 2/5; 
  margin-top: 48px;
}

@media screen and (max-width: 760px) {
  .place__image{
    margin-top: 32px ;
  }
  
}