.place__paragraphs {
  box-sizing: border-box;
  grid-column: 2/3;
  grid-row: 3/-1;
  display: grid;
  grid-template-rows: min-content;
  grid-auto-flow: row;
  gap: 26px;
  align-items: start;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1025px) {
  .place__paragraphs {
    gap: 27px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraphs {
    gap: 25px;
    margin: 0 16px;
  }
}
