.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  margin: 0 0 48px 0;
  padding: 0;
  /* margin: 0; */
}

@media screen and (max-width: 769px) {
  .place__title {
    font-weight: 900;
    font-size: 42px;
    line-height: 1.1;
    
  }
}

@media screen and (max-width: 321px) {
  .place__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 1.89px;
  }
}
