/* .lead__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 600%;
  line-height: 100px;
  text-align: center;
  margin: 0 0 32px 0;
  padding: 0;
  max-width: 720px;
} */
.lead__title {
  font-style: normal;
  font-weight: 900;
  font-size: 600%;
  line-height: 100px;
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 720px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
}
@media screen and (max-width: 1024px) {
  .lead__title {
    max-width: 724px;
  }
}
@media screen and (max-width: 768px) {
  .lead__title {
    margin: 0 0 16px 0;
    max-width: 720px;
  }
}
@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }
}
