.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  font-style: normal;
  margin: 0;
  padding: 0;
  grid-column: 2/3;
}

.place__paragraph:first-of-type {
  margin: 48px 0 26px 0;
}

@media screen and (max-width: 1025px) {
  /* .place__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
  } */
  .place__paragraph:first-of-type {
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 1025px) {
  .place__paragraph:first-of-type {
    margin: 48px 0 25px 0;
  }
}
@media screen and (max-width: 769px) {
  .place__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
  }
}



@media screen and (max-width: 760px) {
  .place__paragraph {
    margin-top: 32px;
  }
}
