.intro {
  color: #fff;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: min-content min-content min-content min-content;
  gap: 0px 0px;
  box-sizing: border-box;

}
/* @media screen and (max-width: 1024px) {
  .intro {
    margin: 0 40px 0px 24px;
  }
} */

/* @media screen and (max-width: 769px) {
  .intro {

  }
} */

/* @media screen and (max-width: 321px) {
  .intro {
    margin: 0 16px 0px 16px;
    max-width: 321px;
  
  }
} */
