.lang-links {
  margin-right: 48px;
  display: flex;
  align-items: flex-start;
}

@media screen and (max-width: 1023px) {
  .lang-links {
    margin-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lang-links {
    margin-right: 0px;
  }
}
