.place {
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-gap:0 40px;
  grid-template-columns: minmax(320px, 460px) minmax(288px, 484px); 
  grid-template-rows: auto 48px auto ;
  max-width: 100%;
  margin: 0 auto 80px auto;
}

.place:last-of-type{
  margin: 0;
}

@media screen and (max-width: 1025px) {
  .place {
    grid-gap: 0 32px;
    grid-template-columns: minmax(320px, 440px) minmax(288px, 456px);
    margin: 0 auto 73px auto;
  }
}

@media screen and (max-width: 769px) {
  .place {
    grid-gap: 0 28px;
    margin: 0 auto 73px auto;
    grid-template-columns: minmax(320px, 340px) minmax(288px, 352px);
  }
}
@media screen and (max-width: 720px) {
  .place {
    display:inline-block;
    margin-bottom: 50px;
  }
  .place:first-of-type
{
  margin-top: 64px;
}
}
