.place{

  padding: 0;
  box-sizing: border-box;
  display: grid;  
  grid-gap: 0 40px;  
  grid-template-columns:minmax(320px, 460px) minmax(288px, 484px);
  grid-template-rows: min-content;
  max-width: 100%;
  justify-content: center;
  margin: 0 auto 80px auto;

}

@media screen and (max-width: 1025px) {
  .place{
    grid-gap: 0 32px;
    grid-template-columns: minmax(320px, 440px) minmax(288px, 456px);
  }
}

@media screen and (max-width: 769px) {
  .place{
    grid-gap: 0 28px;
    grid-template-columns: minmax(320px, 340px) minmax(288px, 352px);

}
}
@media screen and (max-width: 321px) {
  .place{
    grid-gap: 0 28px;
  }
}