.footer {
  margin: 0 auto 0 auto;
  padding-bottom: 24px;
  display: flex;
  width: calc(100vw - 96px);
  justify-content: space-between;
  max-width: 1280px;
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100vw - 48px);

  }
}

@media screen and (max-width: 720px) {
  .footer {
    flex-direction: column;
    width: calc(100vw - 32px);
  }
}