.place__website{
align-self: end;
display: flex;
align-items: flex-start;
flex-direction: column;
box-sizing: border-box;
/* margin: 0 0 48px 0; */
}




@media screen and (max-witdh: 760px) {
  .place__website{
    justify-items: flex-end;
  }

}
