.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 0;
  padding: 0;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 984px;
}

@media screen and (max-width: 1025px) {
  .intro__title {
    width: calc(100vw - 96px);
  }
}
@media screen and (max-width: 769px) {
  .intro__title {
    width: calc(100vw - 48px);
  }
}


@media screen and (max-width: 720px) {
  .intro__title {
    width: calc(100vw - 32px);
    font-size: 32px;
    line-height: 1.09;
  }
}